*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #385c73;
}


#caja{
    display: inline-block;
}

.palabras{
    color: black;
    font-family: "Roboto Condensed", sans-serif;
}

.palabras1{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

#tituloprincipal{
    background-color: #4f7b8c;
    color: white;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

#cuadrado{
    background-color: #f0f1f2;
    border: solid 3px black;
    justify-content: center;
}

footer{
    background-color: #4f7b8c;
    font-size: 20px;
}

#menu{
    text-align: center;
}

.roboto-mono-uniquifier{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}

.roboto-condensed-uniquifier {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}