*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f1f2;
}


#caja{
    display: inline-block;
}

#titulo{
    color: black;
    font-family: "Roboto Mono", monospace;
}

.palabras{
    color: white;
    font-family: "Roboto Mono", monospace;
    position: relative;
    border-bottom: 2px solid #f0f1f2;
    margin: 30px;
}

form .username{
    position: relative;
    margin: 30px 0;
    
}




.palabras1{
    color: white;
    font-family: "Roboto Mono", monospace;
}

input[type="submit"]{
    width: 80%;
    height: 50px;
    border: 1px solid;
    border-radius: 10%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
    
}

input[type="submit"]:hover{
    border-color: #2f4a55;
    transition: .5s;
    
}


#tituloprincipal{
    background-color: #4f7b8c;
    color: white;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    
}
ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline;
    width: 25%;
    position: relative;
    font-size: 40px;
    color: white;
}

h2 a{
    text-align: center;
}


nav{
    background-color: black;
}

header{
    background-color: black;
}

#cont-header__menu-list{
    display: flex;
    justify-content: center;
    column-gap: 10%;
}


#cont-header__menu ul li{
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
}

#cont-header__menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#cont-header__menu ul li:hover{
    border-bottom: solid 5px #39f005;
    background-color: rgb(27, 27, 27);
}



#cuadrado{
    background-color: #4f7b8c;
    border: solid 3px #233a49;
    position: absolute;
    height: 70%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    padding-bottom: 3%;
}



footer{
    background-color: #4f7b8c;
    font-size: 20px;
}

#menu{
    text-align: center;
}

.roboto-mono-uniquifier{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}

.roboto-condensed-uniquifier {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}
.presionar{
    background-color: #233a49;
    color: white;
    border-radius: 2%;
   
}