*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #748C4F;
}
#tituloprincipal{
    text-align: left;
    color: black;
    background-color: #39f005;
    font-family: "Roboto Mono", monospace;
}

.roboto-mono-uniquifier{

    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    font-family: "Roboto Mono", monospace;
}

#fondo{
    margin-top: 1%;
}

ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline;
    width: 25%;
    position: relative;
    font-size: 20px;
    color: white;
}

h2 a{
    text-align: center;
}


nav{
    background-color: black;
}

header{
    background-color: black;
}

#cont-header__menu-list{
    display: flex;
    justify-content: center;
    column-gap: 10%;
}


#cont-header__menu ul li{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
}

#cont-header__menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#cont-header__menu ul li:hover{
    border-bottom: solid 5px #39f005;
    background-color: rgb(27, 27, 27);
}


main{
    display: grid;
    width: 100%;
    height: 1000px;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;

    grid-column-gap: 10px;

}

p{
 
    padding-left: 10%;
    font-family: "Roboto Mono", monospace;
}
.parrafos{

    font-size: 20px;
    color: #748C4F;
    align-items: center;
    padding: 10% 10% 10% 10%;
  
}

.parrafos:hover{
    animation: aparecer 4s infinite;
}

.textos{
    text-align: center;
    animation:tracking-in-expand-forward-top 1s linear both
}

.fotos1{
    width: 100%;
    height: 75%;
    border: solid 4px black;
}

.fotos2{
    width: 100%;
    height: 75%;
    border: solid 4px black;
    
}

.divisionfotos1{
    padding-left: 2px;
    animation:slide-bottom 0.4s linear both
}

.divisionfotos2{
    padding-right: 10px;
    animation:slide-bottom 0.4s linear both
}

footer{
    font-size: 20px;
    background-color: #39f005;
    font-family: 'Courier New', Courier, monospace;

}


@keyframes aparecer{
        from{
        opacity: 0;
        }to{
        opacity: 1;
        color: black;
    }
}

@keyframes tracking-in-expand-forward-top{
    0%{
        letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0
    }40%
    {opacity:.6}
     100%
     {transform:translateZ(0) translateY(0);opacity:1}
 }

 @keyframes slide-bottom{
    0%{
        transform:translateY(0)}
    100%{
        transform:translateY(30px)}
    } 