*{
    margin: 0;
    padding: 0;
}


#tituloprincipal{
    text-align: left;
    color: black;
    background-color: #39f005;
    font-family: "Roboto Mono", monospace;
}

.roboto-mono-uniquifier{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}



.roboto-condensed-uniquifier {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}

#fondo{
    margin-top: 1%;
}

ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline;
    width: 25%;
    position: relative;
    font-size: 20px;
    color: white;
}

h2 a{
    text-align: center;
}


nav{
    background-color: black;
}

header{
    background-color: black;
}

#cont-header__menu-list{
    display: flex;
    justify-content: center;
    column-gap: 10%;
}


#cont-header__menu ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#cont-header__menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#cont-header__menu ul li:hover{
    border-bottom: solid 5px #39f005;
    background-color: rgb(27, 27, 27);
}

#padre{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 8%;
    
}


#container{
    display: inline;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../cosas/imagenes/Animales-de-las-Cataratas-del-Iguazu-Misiones-Argentina.jpg);
    color: white;
    width: 30%;     
    height: 400px;

}


#container2{
    display: inline;
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../cosas/imagenes/parque-nacional-iguazu-sendero-verde.jpg);
    color: white;
 
    width: 30%;     
    height: 400px;

}

.titulo{
    padding-top: 38%;
    padding-left: 43%;
    display: flex;
    align-items: center;
    text-align: center;
    color: yellow;
    font-family: "Roboto Mono", monospace;
    
}

.titulo:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

p{
    padding-top: 4%;
}

#container:hover{
    width: 600px;
    height: 550px;
    transition: width 2s, height 2s;
    animation:shadow-inset-center 0.4s linear both
    
}

#container2:hover{
    width: 600px;
    height: 550px;
    transition: width 2s, height 2s;
    animation:shadow-inset-center 0.4s linear both
    
}

@keyframes agrandar{
    from{
        opacity: 0;
    }to{
        opacity: 1;
        
    }
}

#mapas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 10%;

    width: 100%;
    height: 550px;
    background-color: #728c87;
}




footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 7.3%;
    font-size: 20px;
    background-color: #39f005;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2%;
}

.cont-grad{
    height: 50px;
    width: 100%;
    
    background-image: linear-gradient(to top, white, #f0f1f2,);
}

#subtitulo{
    color: black;
    display: flex;
    justify-content: center;

}

.parrafo1{
    color: black;
    display: flex;
    justify-content: center;
}

#hoteles{
    text-align: center;
    color: black;
    background-color:  #728c87;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-family: "Roboto Mono", monospace;
}

#FaunaFlora{
    animation: agrandar ;
    padding-top: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}

@keyframes shadow-inset-center{
    0%{box-shadow:inset 0 0 0 0 transparent
    }100%{
        box-shadow:inset 0 0 50px 20px rgba(0,0,0,1)}
    }
